@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
  background: rgba(0, 0, 0, 0)
    linear-gradient(45deg, rgb(14, 26, 49), rgb(183, 158, 206)) scroll 0% 0% /
    300% 300%;

  -webkit-animation: gradient-animation 5s ease infinite;
  -moz-animation: gradient-animation 5s ease infinite;
  animation: gradient-animation 5s ease infinite;

  color: antiquewhite;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2,
h3 {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 70px;
}

div.page {
  width: 100%;
  height: max-content;
  margin-bottom: 10%;
}

div.content {
  width: max-content;
  max-width: 95%;
}

span {
  margin-right: 4%;
}
